<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>

    <div class="hero-description">
        <div class="hero-info">
            <div class="hero-id"><span>Hero ID: </span>{{hero.id}}</div>
            <div class="hero-name-update">
                <label for="hero-name">Hero name: </label>
                <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" />
            </div>
        </div>
        <div class="button-section">
            <button type="button" (click)="goBack()" class="button-back">Go Back</button>
            <button type="button" (click)="save()" class="button-save">Save</button>
        </div>
        
    </div>
</div>