/* HeroesComponent's private CSS styles */
h2 {
  text-align: center;
  font-size: 48px;
  color: #201d1a;
  font-weight: bold;
}

.add-hero label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 25px;
}

.add-hero input {
  padding: 0.5rem;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  display: block;
  margin-right: 2rem;
}

.add-hero button {
  margin-right: 10rem;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.add-hero input:focus {
  outline: #336699 auto 1px;
}

.add-hero li {
  list-style-type: none;
}

.add-hero {
  display: inline-flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: right;
  width: 100%;
}

.add-hero li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.add-hero li a:hover {
  background-color: #435a60;
  color: white;
}

ul.add-hero {
  margin-top: 0;
  padding-left: 0;
}

.heroes-cards {
  display: block;
  margin: auto;
}

.heroes {
  margin-top: 2em;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes li {
  position: relative;
  cursor: pointer;
  padding: 20px;
  width: 15em;
}

.heroes li:hover {
  bottom: 0.5em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #eee;
  border-radius: 6px;
  display: block;
  margin: auto;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  margin: auto;
  color: white;
  padding: 0.8em 0.7em;
  background-color: #405061;
  position: relative;
  height: 100%;
  margin-right: 0.8em;
  border-radius: 6px 0 0 6px;
}

.add-button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #42545c;
}

button.delete {
  position: absolute;
  left: 220px;
  top: 30px;
  background-color: white;
  color: #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}
